aoirint-id3 @ git+https://github.com/aoirint/id3py.git@71f75bd48edd9eb8112a6b048888053a0a36943a ; python_version >= "3.9" and python_version < "3.10"
attrs==22.2.0 ; python_version >= "3.9" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
exceptiongroup==1.1.0 ; python_version >= "3.9" and python_version < "3.10"
iniconfig==2.0.0 ; python_version >= "3.9" and python_version < "3.10"
packaging==23.0 ; python_version >= "3.9" and python_version < "3.10"
pluggy==1.0.0 ; python_version >= "3.9" and python_version < "3.10"
pydantic==1.10.4 ; python_version >= "3.9" and python_version < "3.10"
pytest==7.2.1 ; python_version >= "3.9" and python_version < "3.10"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.10"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "3.10"
